.links {
    font-size: 18px;
    cursor: pointer;
}

.links {
    display: flex;
    justify-content: flex-start;
}

.links div {
    padding-left: 50px;
}

.links a {
    text-decoration: none;
    color: #ffffff;
}

a.active {
    color: #F26627;
    font-weight: 600;
}