.app-wrapper {
    position: relative;
    min-height: 100vh;
}

.footerBackground {
    min-height: 800px;
    max-width: 100%;
    background-image: url('./assets/footerImage/footerBackHigh.png');
    background-size: cover;
}

.headerBackground {
    min-height: 800px;
    max-width: 100%;
    background-image: url('./assets/headerImage/headerackground.png');
    background-size: cover;
    position: relative;
}

.learn-wrapper {
    top: 300px;
    left: 75px;
}